.diagram-block {
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    width: 700px;
    height: 290px;
    background: rgb(248, 248, 248);
}

.diagram-heading {
    margin: 0 auto;
    margin-top: 40px;
    width: 700px;
}

.table-block {
    margin: 0 auto;
    width: 700px;
}